@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ************ Navbar section ************ */
.navbar {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D263B;
  border: 1px solid;
  padding: 0 130px 0 130px;
  font-family: 'Montserrat';
}

.logo {
  width: 117px;
  height: 36px
}

.center {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.center p {
  margin-right: 64px;
}

.btnLogin {
  width: 120px;
  height: 44px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  background: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

/* ************ Main section ************ */
.main {
  text-align: center;
  margin: 24px 0 0 0;
  font-family: 'Montserrat';
  font-style: normal;
}

.input {
  width: 527px;
  height: 44px;
  border: 1px solid #E6E9EC;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0D263B;
  padding-left: 20px;
  outline: none;
}

.btn {
  width: 180px;
  height: 44px;
  background: #0061DF;
  border: 1px solid #0061DF;
  border-radius: 2px;
  margin-left: 24px;
  color: #FFFFFF;
}

.properties {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #0D263B;
  margin: 50px 0 8px 0;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.box {
  padding: 0 130px 0 130px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  width: 382px;
  height: 350px;
  border: 1px solid #E6E9EC;
  border-radius: 3px;
}

.name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0D263B;
  margin: 24px 0 0 20px;
}

.parag {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
  margin: 4px 0 0 20px;
}

.number {
  margin: 100px 0 0 140px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0D263B;
}